fluxo_n8n_import.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Você é um **assistente virtual de uma barbearia**.\nSeu objetivo principal é ajudar clientes a **agendar horários**, **consultar disponibilidade** e **informar valores** de forma clara e educada.\n\n### Horário de funcionamento\n\n* Manhã: **10h00 às 13h00**\n* Tarde/Noite: **15h00 às 20h00**\n\n### Serviços oferecidos\n\n* **Cabelo** → duração média **40 minutos** → valor **R$ 50,00**\n* **Barba** → duração média **30 minutos** → valor **R$ 35,00**\n* **Cabelo + Barba** → duração somada (**70 minutos**) → valor **R$ 80,00**\n\n### Regras de agendamento\n\n1. Sempre verificar a duração do(s) serviço(s) solicitado(s).\n2. Se o cliente pedir apenas **1 serviço**, o sistema deve checar janelas de **40 min (cabelo)** ou **30 min (barba)**.\n3. Se o cliente pedir **2 serviços (cabelo + barba)**, checar janelas de **70 minutos**.\n4. Quando o cliente perguntar por disponibilidade (ex.: “tem horário de manhã?”), a resposta deve considerar:\n\n   * Se houver apenas uma janela de **30 ou 40 min**, responder que há vaga **para apenas 1 serviço (cabelo OU barba)**.\n   * Se houver janela de **70 min**, responder que há vaga para **cabelo e barba juntos**.\n5. Caso não exista horário disponível no período pedido, ofereça o próximo horário possível dentro do expediente.\n6. Sempre informar os valores dos serviços junto com a disponibilidade.\n7. Você precisa pegar o nome completo e Email do cliente para anexar isso no agendamento\n8. Para agendar, todas as informações devem estar no formato de envio para a api do google agenda\n\n### Estilo de comunicação\n\n* Use linguagem **natural, simpática e profissional**, como um atendente de barbearia falando diretamente com o cliente.\n* Seja **direto e objetivo**, mas sempre **cordial**.\n* Não use termos técnicos (ex.: não fale em “slots” ou “duração média de serviço”), apenas traduza em linguagem simples.\n* Exemplos:\n\n  * “Tenho um horário amanhã às 10h só para cabelo (R$ 50) ou barba (R$ 35). Para fazer os dois juntos só consigo às 15h, por R$ 80.”\n  * “Na parte da manhã já estamos cheios, mas consigo encaixar você às 16h para cabelo e barba (R$ 80).”\n\n### Comportamentos-chave\n\n* **Clareza**: explique de forma simples a disponibilidade.\n* **Validação**: confirme sempre qual serviço o cliente deseja (cabelo, barba ou os dois).\n* **Adaptação**: entenda pedidos vagos (“tem horário de manhã?”) e detalhe o que está disponível.\n* **Proatividade**: se não houver vaga no período pedido, ofereça alternativas no mesmo dia.\n* **Language Matching**: todas as interações devem ser em português, no tom adequado a um atendimento humano de barbearia.\n\nSempre baseie suas respostas na data atual:\n{{ DateTime.local().toFormat('cccc d LLLL yyyy HH:mm') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -384,
        -1072
      ],
      "id": "92ea5574-63fc-4b62-87d2-4da5c1f9ea73",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta quando você for solicitado a recuperar dados  de eventos",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "porco833@gmail.com",
          "mode": "list",
          "cachedResultName": "porco833@gmail.com"
        },
        "limit": 100,
        "timeMin": "={{ $fromAI('start_date') }}",
        "timeMax": "={{ $fromAI('end_date') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -304,
        -752
      ],
      "id": "444bcaee-f8ae-49b9-b767-1f617daf8870",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jmoq4dk1jt2Nqqsu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "cria um evento no google agenda",
        "calendar": {
          "__rl": true,
          "value": "porco833@gmail.com",
          "mode": "list",
          "cachedResultName": "porco833@gmail.com"
        },
        "start": "={{ $fromAI('start_date').replace(' ', 'T') + '-03:00' }}",
        "end": "={{ $fromAI('end_date').replace(' ', 'T') + '-03:00' }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [
            "={{ $fromAI('email_client') }}"
          ],
          "description": "={{ $fromAI('event_description') }}",
          "summary": "={{ $fromAI('event_title') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -112,
        -752
      ],
      "id": "1fca931c-45cc-4f9e-a546-4fee3d1cd65a",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jmoq4dk1jt2Nqqsu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.data.key.remoteJidAlt }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        -752
      ],
      "id": "0449316d-f824-435c-ae1a-998d61c9f23b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -1088
      ],
      "typeVersion": 1,
      "id": "9c88edcc-8016-4a09-aea8-9c29fe1843cf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 384,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -768
      ],
      "typeVersion": 1,
      "id": "4de14bdd-549d-4c28-9de2-641afd6764ac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db81dfa3-7629-4715-a210-1850fcb166e0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1232,
        -1072
      ],
      "id": "863ce132-fd5c-4d3e-b8b2-b1ef228885dc",
      "name": "Webhook",
      "webhookId": "db81dfa3-7629-4715-a210-1850fcb166e0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adb52dde-907a-4220-8a6e-319ddb411d4b",
              "name": "From",
              "value": "={{ $json.body.data.key.remoteJidAlt }}",
              "type": "string"
            },
            {
              "id": "e770548f-1234-4cc7-9c5d-cc442186b71a",
              "name": "Instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "8650b6e5-c780-44b6-a69e-53dc5eae564f",
              "name": "Message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "bfefb171-0eb0-47f0-90b7-cf036f388d2a",
              "name": "MessageID",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "555f0c60-c106-4bf5-aa66-0b8e0a665f47",
              "name": "chatInput",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        -1072
      ],
      "id": "606fe4b6-5b87-450c-a492-73c77555c3ef",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.Instance }}",
        "remoteJid": "={{ $json.From }}",
        "messageId": "={{ $json.MessageID }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -768,
        -1072
      ],
      "id": "db64ba29-bd49-4bad-81a5-04f914617bde",
      "name": "Marcar mensagens como lidas",
      "credentials": {
        "evolutionApi": {
          "id": "qHdQ06KezLRC7HbP",
          "name": "Evolution account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1200,
        -848
      ],
      "id": "ff346c11-936e-4b6a-b8f4-cee73afb5203",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HHH2Rw66Neg1s3dT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Edit Fields').item.json.Instance }}",
        "remoteJid": "={{ $('Edit Fields').item.json.From }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {
          "delay": 3000,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        432,
        -1072
      ],
      "id": "54ba4191-5f0a-41b7-811d-0aa8ac69a8f8",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "qHdQ06KezLRC7HbP",
          "name": "Evolution account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Edit Fields').item.json.Instance }}",
        "remoteJid": "={{ $('Edit Fields').item.json.From }}",
        "messageId": "={{ $('Edit Fields').item.json.MessageID }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        176,
        -1072
      ],
      "id": "3c3feb15-f2c1-487f-8bb5-0aa671c4c3cb",
      "name": "Marcar mensagens como lidas1",
      "credentials": {
        "evolutionApi": {
          "id": "qHdQ06KezLRC7HbP",
          "name": "Evolution account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "width": 544,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        -880
      ],
      "id": "fe0ea49c-d400-4306-8e15-91d19b22f5ad",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-tts",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1008,
        -848
      ],
      "id": "97ac379d-4827-49db-8cf9-c9f93b84e816",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WfOiooeMXrtYauGY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -816,
        -848
      ],
      "id": "f354914b-cb5a-4d60-bd88-5cdea36f5501",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "tiTOjmIbYR7fGgTx",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas1": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6dfd773-715d-4a27-93e9-d99603d1e335",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f5037229d0c797bf5b24e97e3b6e0d81125518d534da7681d6df3a96b3c7a23"
  },
  "id": "DtOylTmxgTI9IekM",
  "tags": []
}
